.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../assets/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer{
    background-image: url("../assets/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo{
    background: var(--azul-degrade);
}

.cabecalho{
    background-color: var(--cor-primaria);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /* Esse relative é apenas para o absolute funcionar no lista menu*/
}

.container{
    display: flex;
    align-items: center;
}

.container__imagem{
    padding: 1em;
}

.lista-menu{
    display: none;
    position: absolute; /* É usado o absolute para que possa ajustar a posição de acordo com o pai*/
    top: 100%; /* É usado top 100% para que a lista fique abaixo do elemento pai(que é o cabeçalho)*/
    width: 60vw;
}

/* O símbolo de tio procura o próximo elemento que tenha a classe lista menu e 
então altera o display para block. O checked é uma pseudoclasse para verificar
se foi marcado o input do tipo checkbox */
.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,.lista-menu__item{
    padding: 1em;
    background-color: var(--cor-primaria);
}

.lista-menu__titulo{
    color: var(--cor-secundaria);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.container__botao{
    display: none;
}

.cabecalho__titulo{
    display: none;
}

.opcoes{
    display: none;
}

.container__texto{
    display: none;
}

@media screen and (min-width: 1024px){
    .container__imagem--favoritos{
        display: none;
    }

    .cabecalho__menu-hamburguer{
        display: none;
    }

    .cabecalho__titulo{
        display: block;
    }

    .cabecalho__titulo, .cabecalho__titulo--negrito{
        font-family: var(--fonte-secundaria);
        font-size: 30px;
        font-weight: 400;
    }

    .cabecalho__titulo--negrito{
        font-weight: 700;
    }

    .opcoes{
        display: flex;
    }

    .opcoes__item{
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__item a{
        text-decoration: none;
        color: black;
    }

    .opcoes__botao:checked ~ .lista-menu{
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo>.opcoes__item{
        background: var(--azul-degrade);
        color: var(--cor-primaria);
    }

    .opcoes__item{
        padding: 2em 1em;
        cursor: pointer;
    }

    .lista-menu__item:hover{
        background: var(--azul-degrade);
    }

    .lista-menu__item:hover> .lista-menu__link{
        -webkit-text-fill-color: var(--cor-primaria);
    }

    .opcoes__item:hover{
        background: var(--azul-degrade);
    }

    .opcoes__item:hover>a, .opcoes__item:hover{
        -webkit-text-fill-color: var(--cor-primaria);
        color: var(--cor-primaria);
    }

}

@media screen and (min-width: 1728px){

    .container__texto{
        display: block;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black
    }
    .cabecalho{
        padding: 0 2em
    }

    .opcoes{
        margin-right: auto;
    }
}