.topicos{
    background: var(--azul-degrade);
}

.topicos__titulos{
    font-weight: 300;
    color: var(--cor-primaria);
    text-align: center;
    padding: 1.5em 0 2em 0;
}

.topicos__link{
    padding: 1em;
    background-color: var(--cor-secundaria);
    text-decoration: none;
    color: var(--cor-primaria);
    font-size: 14px;
    font-weight: 700;
}

.topicos__item{
    margin: 2em 0.5em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 1024px){
    .topicos__titulos{
        font-size: 24px;
    }

    .topicos__link{
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px){
    .topicos__lista{
        padding: 1em 25vw 5em 25vw;
    }

    .topicos__titulos{
        font-size: 32px;
    }

}